<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <p class="h2 top">Cambios y Devoluciones</p>
            <p class="h5 mt-5 text-center">
                <strong>
                    Nos interesa mucho la satisfacción de nuestros clientes;
                    por eso aceptamos cambios y devoluciones sin costo. 
                </strong> 
            </p>
            <p class="h6 mt-4 text-justify">
                Si el producto no es de tu agrado, tendrás 30 días naturales para solicitar un cambio <strong>(en tienda física)</strong> o un reembolso (sólo en compras realizadas en línea).
                <br><br>
                <strong>Deberás seguir estos pasos: <br><br></strong>
                1. Presentar la pieza y la garantía que viene junto con el empaque de tu producto en cualquier 
                tienda física Mis Joyitas de tu preferencia. 
                <br>
                2. Debes asegurarte que la garantía tenga el número de folio para poder hacer tu cambio. 
                Podrás hacer tu cambio por una pieza del mismo o mayor precio (pagando la diferencia en tienda). 
                No podremos hacer cambios por piezas de menor costo. 
                <br><br>
                * Tu cambio esta sujeto a la disponibilidad en tienda. 
            </p>
        </div>
    </div>
</div>
