<div class="container-fluid filtrar">
    <div class="row">
        <div class="card form__top col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body">
                <h2 class="text-center top">Mi Carrito </h2>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <table class="table table-hover ">
                            <thead>
                              <tr>
                                <th scope="col">Artículo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border">
                        <h1 class="resumen">Resumen del pedido</h1>
                        <hr>
                        <div class="row ml-3">
                            <p>Subtotal</p>
                            <h3 class="text-right m"><strong>$450.00</strong></h3>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg btn-block mt-3" [routerLink]="[ '/pagar']">Pagar</button>   
                        <div class="row mt-3">
                            <p class="ml-3">Aceptamos:</p>
                        </div>
                        <div class="row">
                            <img src="../../assets/american-express.svg" class="credito">
                            <img src="../../assets/paypal.svg" class="credito">
                            <img src="../../assets/visa.svg" class="credito">
                            <img src="../../assets/tarjeta-mastercard.svg" class="credito">
                        </div>
                        

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



<ng-template #vacio>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 c-v">
            <div class="" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Carro_Vacio.svg" alt="Card image cap" >
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <p class="h3">¡Tu carrito está vacío!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn btn-outline-success btn-lg btn-block">Ve de compras</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</ng-template>
