<div class="container-fluid filtrar">
    <div class="row">
        <div class="card form__top col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body">
                <h2 class="text-center top">Carrito </h2>
                <!--Tenemos que poner un ngIf-->
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 c-v">
                        <div class="" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/Carro_Vacio.svg" alt="Card image cap" >
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <p class="h3">¡Tu carrito está vacío!</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-outline-success btn-lg btn-block">Ve de compras</button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                </div>
                

                <!---->
                <form class="mt-4 accesibilidad">
                    
                </form>

                
            </div>
        </div>
    </div>
</div>
