<div class="container">
    <p class="top text-center">Preguntas Frecuentes</p>

    <div class="row mt-5">
      <div class="col-sm-12">
          <div id="accordion" role="tablist">
             <div class="card">
               <div class="card-header" role="tab" id="headingOne">
                 <h5 class="mb-0">
                   <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>¿Es necesario crear una cuenta de cliente?</strong> 
                   </a>
                 </h5>
               </div>

               <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                 <div class="card-body">
                  Si, es necesario. Para proteger sus datos y para poder resolver problemas relacionados con la entrega del producto, protegemos de inconvenientes con su cuenta.
                 </div>
               </div>
             </div>
             <div class="card">
               <div class="card-header" role="tab" id="headingTwo">
                 <h5 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>¿Es difícil crear una cuenta?</strong>
                   </a>
                 </h5>
               </div>
               <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                 <div class="card-body">
                  Crear una cuenta es muy sencillo, solo necesitas tener un correo electrónico, o si lo prefieres puedes optar por otros métodos que tenemos para hacerla con tu número de teléfono.
                 </div>
               </div>
             </div>
             <div class="card">
               <div class="card-header" role="tab" id="headingThree">
                 <h5 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>¿De qué forma puedo hacer mis pagos?</strong> 
                   </a>
                 </h5>
               </div>
               <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                 <div class="card-body">
                  Para su comodidad aceptamos las siguientes formas de pago: Tarjetas de Débito y Crédito (Visa, MasterCard, American Express PayPal) Transferencia o Depósito bancario Pago en efectivo en OXXO (comisión de $10 por transacción)
                 </div>
               </div>
             </div>
             <div class="card">
               <div class="card-header" role="tab" id="headingFour">
                 <h5 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>¿Las promociones aplican en cualquier forma de pago?</strong> 
                   </a>
                 </h5>
               </div>
               <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                 <div class="card-body">
                  Nuestras promociones aplican en cualquier forma de pago.
                 </div>
               </div>
             </div>
             <div class="card">
               <div class="card-header" role="tab" id="headingFive">
                 <h5 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <strong>Perdí un arete, ¿venden piezas sueltas..?</strong> 
                   </a>
                 </h5>
               </div>
               <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                 <div class="card-body">
                  Todos nuestros aretes se hacen por pares en producciones limitadas por lo que no podemos vender uno solo ya que nos deja un par incompleto.
                 </div>
               </div>
             </div>
             <div class="card">
              <div class="card-header" role="tab" id="headingSix">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <strong>¿Cómo vendrá mi producto empaquetado?</strong> 
                  </a>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="card-body">
                  Tu producto irá empaquetado en una bolsa de nuestra marca Mis Joyitas, la cual se enviará adentro de una caja de paquetería.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingSeven">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <strong>¿Cómo cuido y mantengo limpia mi joyería de Mis Joyitas?</strong> 
                  </a>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="card-body">
                  La joyería de plata al estar en contacto con el aire, inevitablemente se oxida (manchándose de negro). Por tal motivo le recomendamos
                  que cuando no la use la mantenga siempre en su empaque original de Mis Joyitas. Cuando su joyería esté únicamente sucia, acuda a 
                  cualquiera de nuestras Tiendas Mis Joyitas y con gusto se la limpiaremos. O bien puede usted limpiarla de la siguiente manera: Las 
                  superficies pulidas o brillantes de las piezas de plata deberán frotarse con un Paño Limpiador para plata, el cual puede ser adquirido
                  en nuestras Tiendas u otros establecimientos. La pieza se frota vigorosamente con el paño hasta que el lustre de la pieza asemeje el de 
                  un espejo. El Paño Limpiador también se utiliza en piezas que tienen materiales o acabados que no pueden ser sumergidos en algún Líquido 
                  Limpiador tales como piedras, perlas, materiales naturales u otro material que no sea plata. Las piezas manchadas por el óxido que se le 
                  forma a la plata y que da un aspecto negro / sucio pueden ser limpiadas con el Líquido Limpiador o la Crema limpiadora. El Líquido Limpiador
                  puede ser adquirido en nuestras Tiendas Mis Joyitas y viene en un bote gris pequeño. Este Líquido se utiliza para limpiar únicamente plata. 
                  La pieza se sumerge en el líquido por unos segundos dependiendo de qué tan sucia este y posteriormente se enjuaga muy bien con agua y se 
                  seca perfectamente con una toalla. Si la pieza no queda perfectamente seca se volverá a oxidar con más facilidad. La Crema Limpiadora se 
                  aplica con un trapo a la superficie de la pieza y después de que se seca se frota para sacar brillo y quitarla. Esta crema es muy útil para
                  piezas que no se pueden meter al líquido. A diferencia de la plata, las partes de oro no se oxidan ni se ensucian con el contacto del aire, 
                  sin embargo el aceite natural del cuerpo puede manchar las piezas y les da un mal aspecto. Para limpiar estas partes puede frotarse con el
                  Paño Limpiador, siguiendo las mismas precauciones que con la plata. En especial, cuando la pieza tiene alguna Textura, el Paño Limpiador la 
                  dañara, por lo que no se debe usarse en las piezas que tienen Textura. Las piezas o partes de oro rosado, jamás deben ser frotadas con el 
                  Paño Limpiador ya que esto daña la capa de oro rosado que se le da. Otra forma de limpiar las partes de oro es utilizar un trapo humedecido 
                  ligeramente con alcohol o Windex. Esto ayuda a eliminar la grasa / aceite o suciedad que se acumula en la superficie de oro de la pieza. 
                  En caso de tener duda acerca de cómo limpiar una pieza determinada acuda a cualquiera de nuestras Tiendas Mis Joyitas antes de tomar una 
                  decisión que pueda dañar su joyería
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingEight">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <strong>¿Cómo vendrá mi producto empaquetado?</strong> 
                  </a>
                </h5>
              </div>
              <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="card-body">
                  Tu producto irá empaquetado en una bolsa y caja de nuestra marca Mis Joyitas.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingNine">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <strong>¿Cuánto tiempo tarda mi pedido en llegar?</strong> 
                  </a>
                </h5>
              </div>
              <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="card-body">
                  El tiempo de llegada depende del servicio de paquetería que elijas.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTen">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    <strong>¿Tengo garantía?</strong>
                  </a>
                </h5>
              </div>
              <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                <div class="card-body">
                  Por supuesto, cuando recibe su compra, puede contactarnos en el caso de que tenga algún imperfecto. Sin embargo garantizamos que es extremadamente improbable que esto ocurra.
                </div>
              </div>
            </div>
           </div>

      </div>
  </div>
  
</div>
    

