<div class="container">
    <div class="row filtrar">
      <div class="col">
        <p class="titulo-joyas">Joyas</p>
      </div>
    </div>
    <div class="row">
        <div class="container col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top producto" src="../../assets/anillos.jpg" alt="Card image cap" (click)="verJoya(2)">
                <div class="card-body">
                  <h5 class="card-title"><strong>Nombre Producto</strong></h5>
                  <p class="card-text">Precio</p>
                  <a href="#" class="btn btn-danger">Agregar al carrito</a>
                </div>
              </div>
        </div>
    </div>
</div>
