<div class="container mt-5 pt-5">
    <h1 class="top">Compras a proveedores</h1>
    <ngb-alert id="cinco" type="success" (close)="cerrar('cinco')">La compra finalizó con éxito</ngb-alert>
    <form class="row" (ngSubmit)="agregarProducto(productoProveedor.value)" [formGroup]="productoProveedor">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ngb-alert id="uno" type="danger" (close)="cerrar('uno')">El campo no ha sido llenado!!</ngb-alert>
            <ngb-alert id="dos" type="info" (close)="cerrar('dos')">Alguno de los campos esta incorrecto o vacio revisalos otra vez</ngb-alert>

            <h3>Proveedor</h3>
            <label for="exampleInputEmail1">Buscar proveedor por nombre</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" formControlName="busquedaProveedor">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-info" (click)="buscarProveedor(productoProveedor.value.busquedaProveedor)">Buscar</button>
                </div>
            </div>
            <div class="row" *ngIf="proveedores">
                <div class="col">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="id_proveedor" (change)='onProveedorSelect(productoProveedor.value.id_proveedor)'>
                            <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}" >
                                {{proveedor.nombre}}
                            </option>
                        </select>
                </div>
                <div class="col"></div>
            </div>

            <div class="form-group">
                <small>Recuerda que al cambiar de proveedor se eliminara los datos de la compra actual</small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ngb-alert id="tres" type="success" (close)="cerrar('tres')">Se agregó el producto a la compra</ngb-alert>
            <ngb-alert id="cuatro" type="success" (close)="cerrar('cuatro')">Se actualizó el producto en la compra</ngb-alert>
            <div class="form-group">
                <h4>Producto</h4>
                <input type="text" class="form-control" formControlName="nombreProducto" disabled>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col">
                        <label for="exampleInputPassword1">Precio de compra</label>
                        <input type="number" class="form-control" formControlName="precio_compra" disabled>
                    </div>
                    <div class="col">
                        <label for="exampleInputPassword1">Cantidad</label>
                        <input type="number" class="form-control" formControlName="cantidad">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info btn-block" value="Agregar a la compra">
            </div>
            <div class="row" *ngIf="productoCompras.length > 0">
                <div class="col">
                    <label for="exampleInputPassword1">Productos agregados: <strong>{{productoCompras.length}}</strong></label>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Continuar con la compra</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row mt-5 mx-5" *ngIf="productosProveedores">
        <div class="col">
            <form (ngSubmit)="buscar(buscarForm.value)" [formGroup]="buscarForm" class="row mb-4">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-secondary" (click)="actualizar()">Mostrar Todos</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="exampleInputEmail1">Buscar por nombre</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" formControlName="busqueda">
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-info btn-block" value="Buscar">
                        </div>
                    </div>
                </div>
            </form>

            <h3>Productos del proveedor {{proveedor.nombre}}</h3>
            <div class="table-responsive">
                <table class="table accesibilidad">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Precio de compra</th>
                            <th scope="col">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productoProveedor of productosProveedores">
                            <td>{{productoProveedor.nombre}}</td>
                            <td><img style="width: 8rem;" [src]="productoProveedor.imagen"></td>
                            <td>$ {{productoProveedor.precio_compra}}</td>
                            <td>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary" (click)="seleccionarProducto(productoProveedor)"><i class="fas fa-cart-arrow-down"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf="productoCompras.length > 0; else noProductos">


                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proveedor {{proveedor.nombre}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table accesibilidad">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let productoCompra of productoCompras">
                                    <td>{{productoCompra.nombreProducto}}</td>
                                    <td>{{productoCompra.cantidad}}</td>
                                    <td>$ {{productoCompra.precio_compra}}</td>
                                    <td>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-secondary" (click)="deleteProducto(productoCompra.id_producto)"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total</td>
                                    <td>$ {{total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="finalizarCompra()">Terminar Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noProductos>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proveedor {{proveedor.nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <ngb-alert id="modal" (close)="cerrar('modal')" type="info">No haz escogido productos</ngb-alert>
    </div>
</ng-template>