<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col mt-5 ">
            <div class="list-group">
                <h4 class="list-group-item list-group-item-action active accesibilidad">Opciones para el administrador</h4>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/productos']">Editar o agregar productos</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/cambiar-roles']">Cambiar roles</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/proveedores']">Administrar proveedores</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/precios-proveedores']">Administrar productos y precios de compra a proveedores</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/compras']">Registrar compras a proveedores</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/consulta-compras']">Consultar compras realizadas</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/consulta-ventas']">Consultar ventas realizadas</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/reportes-compras']">Generar reportes de compras</a>
            </div>
        </div>
    </div>
</div>