<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col mt-5 ">
            <div class="list-group">
                <h4 class="list-group-item list-group-item-action active accesibilidad">Opciones para el administrador</h4>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/productos']">Editar o agregar productos</a>
                <a class="list-group-item list-group-item-action accesibilidad" [routerLink]="['/cambiar-roles']">Cambiar roles</a>
            </div>
        </div>
    </div>
</div>