<div class="container filtrar">
    <ngb-alert id="uno" type="danger" (close)="cerrar('uno')">Algunos de los campos no han sido llenados o estan incorrectos revisalos otra vez</ngb-alert>
    <ngb-alert id="dos" type="success" (close)="cerrar('dos')">Se registraron los datos correctamente</ngb-alert>
    <div class="row" *ngIf="user; else loading">
        <div class="col-md-3 col-lg-3" *ngIf="this.estado!='1'"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="this.estado=='1'">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="table-success">
                                    <th scope="col-10" colspan="6" class="text-center">Perfil de Usuario</th>
                                    <th scope="col" class="text-center">
                                        <button type="button" class="btn btn-outline-primary" (click)="editUser()"><i
                                        class="fas fa-edit"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td colspan="6">{{user.nombre}} {{user.ape_pat}} {{user.ape_mat}}</td>
                                </tr>
                                <tr>
                                    <th colspan="1">Correo</th>
                                    <td colspan="2">{{user.correo}}</td>
                                    <th colspan="1">Teléfono</th>
                                    <td colspan="2">{{user.telefono}}</td>
                                </tr>
                                <tr class="table-success">
                                    <th scope="col" colspan="6" class="text-center">Dirección</th>
                                    <th scope="col" class="text-center">
                                        <button type="button" class="btn btn-outline-primary" (click)="editDireccion()"><i
                                        class="fas fa-edit"></i></button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="1">Estado</th>
                                    <td colspan="1">{{user.estado}}</td>
                                    <th colspan="1">Municipio</th>
                                    <td colspan="1">{{user.municipio}}</td>
                                    <th colspan="1">CP</th>
                                    <td colspan="1">{{user.cp}}</td>
                                </tr>
                                <tr>
                                    <th>Colonia</th>
                                    <td>{{user.colonia}}</td>
                                    <th>Calle</th>
                                    <td>{{user.calle}}</td>
                                    <th>Numero</th>
                                    <td>#{{user.numero}} {{user.interior}}</td>
                                </tr>
                            <div *ngIf="(user$ | async)?.rol === 'client'">
                                <tr class="table-success">
                                    <th scope="col-12" colspan="7" class="text-center">Compras</th>
                                </tr>
                                <tr *ngFor="let v of ventas">
                                    <th>Fecha</th>
                                    <td>{{v.fecha | date:'yyyy-MM-dd'}}</td>
                                    <th>Tarjeta</th>
                                    <td>{{v.num_tarjeta}}</td>
                                    <th>Total</th>
                                    <td>${{v.total}}.00</td>
                                    <th scope="col" class="text-center">
                                        <button type="button" class="btn btn-outline-primary" (click)="factura(v.id)"><i
                                        class="fas fa-eye"></i></button>
                                    </th>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="this.estado=='2'">

            <div class="card-body">
                <form (ngSubmit)="editUsuario(editUserForm.value)" class="mt-4" [formGroup]="editUserForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Juan" required>
                    </div>
                    <div class="form-group form-row">
                        <div class="col">
                            <label for="exampleInputEmail1">Apellido paterno</label>
                            <input type="text" class="form-control" formControlName="ape_pat" placeholder="Muñoz" required>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Apellido materno</label>
                            <input type="text" class="form-control" formControlName="ape_mat" placeholder="López" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Teléfono</label>
                        <input type="tel" class="form-control" formControlName="telefono" placeholder="4491234567" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Guardar Datos</button>
                    </div>
                </form>
                <button type="button" class="btn btn-secondary" (click)="regresar()">Regresar</button>
            </div>

        </div>

        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="this.estado=='3'">

            <div class="card-body">

                <form (ngSubmit)="editDirecc(editDireccionForm.value)" class="mt-4" [formGroup]="editDireccionForm">

                    <label for="exampleInputEmail1">Dirección</label>

                    <div class="form-group form-row">

                        <div class="col">
                            <label for="exampleInputEmail1">Buscar municipio</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="busqueda" placeholder="aguascalientes">
                        </div>
                        <div class="col">
                            <button (click)="getMunicipio(editDireccionForm.value.busqueda)" class="btn btn-info">Buscar</button>
                        </div>
                    </div>

                    <div *ngIf="municipios" class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="id_municipio">
                            <option *ngFor="let municipio of municipios" value="{{municipio.id}}">
                                {{municipio.municipio}} , {{municipio.estado}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group form-row">
                        <div class="col">
                            <label for="exampleInputEmail1">Colonia</label>
                            <input type="text" class="form-control" formControlName="colonia" required>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Calle</label>
                            <input type="text" class="form-control" formControlName="calle" required>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="col">
                            <label for="exampleInputEmail1">Numero</label>
                            <input type="number" class="form-control" formControlName="numero" required>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Interior</label>
                            <input type="text" class="form-control" formControlName="interior">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Codigo Postal</label>
                            <input type="number" class="form-control" formControlName="cp" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block accesibilidad">Actuaizar datos</button>
                    </div>
                </form>
                <button type="button" class="btn btn-secondary" (click)="regresar()">Regresar</button>
            </div>
        </div>

        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 form__top " *ngIf="this.estado=='4'">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="card-body">
                        <p class="top">Factura</p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-outline-secondary" (click)="regresar()">Regresar</button>
                                <button class="btn btn-danger ml-4" (click)="downloadPDF()">Download PDF</button>
                            </div>
                        </div>
                        <div id="htmlData">
                            <div class="body">
                                <header class="clearfix header">
                                    <div class="container">
                                        <figure>
                                            <img class="logo" src="../../assets/diamante.png" alt="">
                                        </figure>
                                        <div class="company-info">
                                            <h2 class="title estilo">Mis Joyitas</h2>
                                            <span class="estilo">Leopoldo Mendez 123, Santa Anita, Ags, MX</span>
                                            <span class="line estilo"></span>
                                            <a class="phone estilo">(449) 9939364</a>
                                            <span class="line estilo"></span>
                                            <a class="email estilo">misjoyitas@example.com</a>
                                        </div>
                                    </div>
                                </header>

                                <section>
                                    <div class="details clearfix">
                                        <div class="client left">
                                            <p class="estilo">Factura a:</p>
                                            <p class="name estilo">{{user.nombre}} {{user.ape_pat}} {{user.ape_mat}}</p>
                                            <p class="estilo">
                                                {{user.calle}} #{{user.numero}} {{user.interior}},<br> {{user.colonia}}
                                            </p>
                                            <a class="estilo">{{user.correo}}</a>
                                        </div>
                                        <div class="data right">
                                            <div class="title">Factura</div>
                                            <div class="date">
                                                Fecha de expedición: {{currentDate | date:'yyyy-MM-dd'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="table-wrapper">
                                            <table class="page-break page-break-before">
                                                <tbody class="head">
                                                    <tr>
                                                        <th class="no"></th>
                                                        <th class="desc">
                                                            <div>Descripcion</div>
                                                        </th>
                                                        <th class="qty">
                                                            <div>Cantidad</div>
                                                        </th>
                                                        <th class="unit">
                                                            <div>Precio</div>
                                                        </th>
                                                        <th class="total">
                                                            <div>Total</div>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                                <tbody class="body" *ngFor="let prod of productos">
                                                    <tr>
                                                        <td class="no">{{prod.n}}</td>
                                                        <td class="desc"> <strong>{{prod.nombre}}</strong>
                                                            <br> {{prod.descripcion}}
                                                        </td>
                                                        <td class="qty">{{prod.cantidad}}</td>
                                                        <td class="unit">{{prod.precio}}</td>
                                                        <td class="total">{{prod.tot}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="no-break">
                                            <table class="grand-total">
                                                <tbody>
                                                    <tr>
                                                        <td class="no"></td>
                                                        <td class="desc"></td>
                                                        <td class="qty"></td>
                                                        <td class="unit">SUBTOTAL:</td>
                                                        <td class="total">${{this.subt}}.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="no"></td>
                                                        <td class="desc"></td>
                                                        <td class="qty"></td>
                                                        <td class="unit">ENVÍO:</td>
                                                        <td class="total">$170.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="grand-total" colspan="5">
                                                            <div><span>TOTAL:</span>${{this.subt+170}}.00</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </section>

                                <footer>
                                    <div class="container">
                                        <div class="thanks">¡Gracias por tu compra!</div>
                                        <div class="end">
                                            La factura fue creada en una computadora y es válida sin la firma y el sello.</div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            </div>

        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>