<div class="container">
    <div class="row filtrar">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="h4 text-center m-3">
                        <strong>#QUÉDATE EN CASA</strong> 
                            Siguiendo todas las 
                            normas de seguridad e 
                            higiene para garantizar la 
                            seguridad de nuestros 
                            clientes y personal.
                            <i class="fas fa-hands-wash fa-3x mt-3"></i>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="h6 text-justify">
                        <i class="far fa-gem fa-1x"></i>
                        Hacemos envíos a toda la Republica Mexicana.
                    </p>
                    <p class="h6 text-justify mt-3">
                        <i class="far fa-clock fa-1x"></i>
                        Debido a la contingencia que se está viviendo
                        actualmente a nivel mundial <strong>se pueden presentar
                        retrasos en las entregas.
                        </strong>
                    </p>
                    <p class="h6 text-justify mt-3">
                        <i class="fas fa-shipping-fast fa-1x"></i>
                        Entregas Express de 1 a 3 días habiles en todo
                        México. El envío tiene un costo de ciento cincuenta 
                        pesos ($150.00 MXN).<strong> Por el momento no 
                        contamos con Envío Expres hasta nuevo aviso.
                        </strong>
                    </p>
                    <p class="h6 text-justify mt-3">
                        <i class="fas fa-dollar-sign fa-1x"></i>
                        Entregas Económicas hasta 7 días hábiles en todo
                        México - El envío tiene un costo de ochenta y nueve 
                        ($89.00 MXN).
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="h6 text-justify mt-5">
                        <i class="fas fa-shopping-bag fa-2x"></i>
                        Cada una de nuestras piezas de joyería se entrega
                        empacada en una bolsa y caja de nuestra marca Mis Joyitas.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
