<div class="container filtrar">
    <div class="row">
        <div class="card form__top col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <h3 class="subtitulo">Dirección del pedido</h3>
                        <hr>
                        <div class="row" *ngIf="this.dir==false; else direccion">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        Nombre Cliente
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p>Direccion</p>
                                            <footer class="blockquote-footer text-right">
                                                <button type="button" class="btn btn-outline-primary"
                                                    data-toggle="modal"
                                                    data-target=".bd-example-modal-lg">Editar</button>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><strong> Dirección </strong>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!--Cambiar div a form-->
                                            <div class="needs-validation" novalidate>
                                                <div class="form-row">
                                                    <div class="col-md-4 mb-3">
                                                        <input type="text" class="form-control" id="validationTooltip01"
                                                            placeholder="Nombre" required>
                                                        <div class="valid-tooltip">
                                                            ¡Luce bien!
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <input type="text" class="form-control" id="validationTooltip02"
                                                            placeholder="Apellido" required>
                                                        <div class="valid-tooltip">
                                                            ¡Luce bien!
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                    id="validationTooltip03">MX
                                                                    +52</span>
                                                            </div>
                                                            <input type="number" class="form-control"
                                                                id="validationTooltip03" placeholder="No. de telefono"
                                                                aria-describedby="validationTooltipUsernamePrepend"
                                                                required>
                                                            <div class="invalid-tooltip">
                                                                Porfavor escribe un número correcto.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <input type="text" class="form-control" id="validationTooltip04"
                                                            placeholder="Calle" required>
                                                        <div class="invalid-tooltip">
                                                            Porfavor escribe correctamente la calle.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <input type="number" class="form-control"
                                                            id="validationTooltip05" placeholder="Numero ext" required>
                                                        <div class="invalid-tooltip">
                                                            Porfavor escribe correctamente el numero.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <input type="number" class="form-control"
                                                            id="validationTooltip06" placeholder="Numero Int">
                                                        <div class="invalid-tooltip">
                                                            Porfavor escribe correctamente el numero.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <input type="text" class="form-control" id="validationTooltip07"
                                                            placeholder="Colonia" required>
                                                        <div class="invalid-tooltip">
                                                            Porfavor escribe correctamente la colonia.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-2">
                                                        <input type="number" class="form-control"
                                                            id="validationTooltip08" placeholder="C.P" required>
                                                        <div class="invalid-tooltip">
                                                            Porfavor escribe correctamente el CP.
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <select class="custom-select" required>
                                                            <option value="">Municipio</option>
                                                            <option value="1">Aguascalientes</option>
                                                            <option value="2">Asientos</option>
                                                            <option value="3">Calvillo</option>
                                                            <option value="3">Cosío</option>
                                                            <option value="3">Jesús María</option>
                                                            <option value="3">Pabellón de Arteaga</option>
                                                            <option value="3">Rincón de Romos</option>
                                                            <option value="3">San José de Gracia</option>
                                                            <option value="3">Tepezalá</option>
                                                            <option value="3">El Llano</option>
                                                            <option value="3">San Francisco de los Romo</option>
                                                        </select>
                                                        <div class="invalid-feedback">Elige un municipio</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="subtitulo mt-5">Datos de tarjeta</h3>
                        <hr>
                        <div class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-8 mb-8">
                                    <input type="number" class="form-control" id="validationTooltip01"
                                        placeholder="Numero de la tarjeta" required>
                                    <div class="valid-tooltip">
                                        ¡Luce bien!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="validationTooltip02">Nombre del titular de la tarjeta</label>
                                    <input type="text" class="form-control" id="validationTooltip02"
                                        placeholder="Nombre" required>
                                    <div class="valid-tooltip">
                                        ¡Luce bien!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip03"><br></label>
                                    <input type="text" class="form-control" id="validationTooltip03"
                                        placeholder="Apellido" required>
                                    <div class="valid-tooltip">
                                        ¡Luce bien!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <label for="validationTooltip04">Vencimiento</label>
                                    <select class="custom-select" required>
                                        <option value="">MM</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <div class="invalid-feedback">Elige un mes</div>
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <label for="validationTooltip05">*</label>
                                    <select class="custom-select" required>
                                        <option value="">AA</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                    <div class="invalid-feedback">Elige un año</div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label for="validationTooltip06">CSC</label>
                                    <input type="number" class="form-control" id="validationTooltip06"
                                        placeholder="3 digitos" required>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border">
                        <h1 class="resumen">Resumen del pedido</h1>
                        <hr>
                        <div class="row ml-3">
                            <p>Subtotal</p>
                            <h3 class="text-right m"><strong>$450.00</strong></h3>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg btn-block mt-3">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #direccion>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg">
        + Añadir Dirección
    </button>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong> Dirección </strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre"
                                    required>
                                <div class="valid-tooltip">
                                    ¡Luce bien!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="validationTooltip02" placeholder="Apellido"
                                    required>
                                <div class="valid-tooltip">
                                    ¡Luce bien!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltip03">MX
                                            +52</span>
                                    </div>
                                    <input type="number" class="form-control" id="validationTooltip03"
                                        placeholder="No. de telefono"
                                        aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Porfavor escribe un número correcto.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="validationTooltip04" placeholder="Calle"
                                    required>
                                <div class="invalid-tooltip">
                                    Porfavor escribe correctamente la calle.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <input type="number" class="form-control" id="validationTooltip05"
                                    placeholder="Numero ext" required>
                                <div class="invalid-tooltip">
                                    Porfavor escribe correctamente el numero.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <input type="number" class="form-control" id="validationTooltip06"
                                    placeholder="Numero Int">
                                <div class="invalid-tooltip">
                                    Porfavor escribe correctamente el numero.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="validationTooltip07" placeholder="Colonia"
                                    required>
                                <div class="invalid-tooltip">
                                    Porfavor escribe correctamente la colonia.
                                </div>
                            </div>
                            <div class="col-md-2 mb-2">
                                <input type="number" class="form-control" id="validationTooltip08" placeholder="C.P"
                                    required>
                                <div class="invalid-tooltip">
                                    Porfavor escribe correctamente el CP.
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <select class="custom-select" required>
                                    <option value="">Municipio</option>
                                    <option value="1">Aguascalientes</option>
                                    <option value="2">Asientos</option>
                                    <option value="3">Calvillo</option>
                                    <option value="3">Cosío</option>
                                    <option value="3">Jesús María</option>
                                    <option value="3">Pabellón de Arteaga</option>
                                    <option value="3">Rincón de Romos</option>
                                    <option value="3">San José de Gracia</option>
                                    <option value="3">Tepezalá</option>
                                    <option value="3">El Llano</option>
                                    <option value="3">San Francisco de los Romo</option>
                                </select>
                                <div class="invalid-feedback">Elige un municipio</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>