<div class="container filtrar">
    <ngb-alert style="display: none;" id="cinco" type="danger" (close)="cerrar('cinco')">
        Se eliminaron productos de tu pedido por falta de existencias
    </ngb-alert>
    <ngb-alert style="display: none;" id="seis" type="danger" (close)="cerrar('seis')">
        Se eliminaron productos de tu pedido que no estaban disponibles
    </ngb-alert>
    <ngb-alert style="display: none;" id="siete" type="danger" (close)="cerrar('siete')">
        No hay existencias suficientes
    </ngb-alert>
    <ngb-alert style="display: none;" id="ocho" type="danger" (close)="cerrar('ocho')">
        No has registrado ninguna tarjeta
    </ngb-alert>
    <div class="row">
        <div class="card form__top col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h3 class="subtitulo">Dirección del pedido</h3>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="h5">
                                            {{this.user.nombre}} {{this.user.ape_pat}} {{this.user.ape_mat}}
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="h6">
                                                {{this.user.telefono}}
                                                <br>
                                                {{this.user.calle}} {{this.user.numero}}
                                                <br>
                                                {{this.user.colonia}}
                                                <br>
                                                {{this.user.municipio}}, {{this.user.estado}}, {{this.user.cp}}


                                            </p>
                                            <div class="row">
                                                <div class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <span class="badge badge-success mt-4">Dirección
                                                        Predeterminada</span>
                                                </div>
                                                <div class="text-right col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="btn btn-outline-secondary btn-sm mt-4"
                                                        data-toggle="modal" data-target="#exampleModal">Editar</button>
                                                </div>
                                                <!-- Modal -->


                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <strong>Dirección</strong></h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form (ngSubmit)="editDirecc(editDireccionForm.value)"
                                                                    [formGroup]="editDireccionForm">
                                                                    <ngb-alert style="display: none;" id="uno"
                                                                        type="danger" (close)="cerrar('uno')">Algunos de
                                                                        los campos no
                                                                        han sido llenados o estan incorrectos revisalos
                                                                        otra vez</ngb-alert>
                                                                    <ngb-alert style="display: none;" id="dos"
                                                                        type="success" (close)="cerrar('dos')">Se
                                                                        registraron los datos
                                                                        correctamente</ngb-alert>

                                                                    <div class="form-group form-row">

                                                                        <div
                                                                            class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                                                            <label class="h6"
                                                                                for="exampleInputEmail1">Municipio</label>
                                                                        </div>
                                                                        <div
                                                                            class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                            <input type="text" class="form-control"
                                                                                formControlName="busqueda"
                                                                                placeholder="aguascalientes">
                                                                        </div>
                                                                        <div
                                                                            class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                                            <button
                                                                                (click)="getMunicipio(editDireccionForm.value.busqueda)"
                                                                                class="btn btn-outline-success btn-block">Buscar</button>
                                                                        </div>
                                                                    </div>

                                                                    <div *ngIf="municipios" class="form-group h6">
                                                                        <select class="form-control"
                                                                            id="exampleFormControlSelect1"
                                                                            formControlName="id_municipio">
                                                                            <option *ngFor="let municipio of municipios"
                                                                                value="{{municipio.id}}">
                                                                                {{municipio.municipio}} ,
                                                                                {{municipio.estado}}
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="form-group form-row h6">
                                                                        <div class="col">
                                                                            <label for="exampleInputEmail1"
                                                                                class="h6">Colonia</label>
                                                                            <input class="h6" type="text"
                                                                                class="form-control"
                                                                                formControlName="colonia" required>
                                                                        </div>
                                                                        <div class="col">
                                                                            <label
                                                                                for="exampleInputEmail1">Calle</label>
                                                                            <input type="text" class="form-control"
                                                                                formControlName="calle" required>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group form-row h6">
                                                                        <div class="col">
                                                                            <label
                                                                                for="exampleInputEmail1">Número</label>
                                                                            <input type="number" class="form-control"
                                                                                formControlName="numero" required>
                                                                        </div>
                                                                        <div class="col">
                                                                            <label
                                                                                for="exampleInputEmail1">Interior</label>
                                                                            <input type="text" class="form-control"
                                                                                formControlName="interior">
                                                                        </div>
                                                                        <div class="col">
                                                                            <label for="exampleInputEmail1">CP</label>
                                                                            <input type="number" class="form-control"
                                                                                formControlName="cp" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Cerrar</button>
                                                                        <button type="submit"
                                                                            class="btn btn-success">Actualizar
                                                                            Dirección</button>
                                                                    </div>

                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fin Modal -->
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h3 class="subtitulo mt-5">Datos de tarjeta</h3>
                        <hr>
                        <form (ngSubmit)="newTarjeta(newTarjetaForm.value)" [formGroup]="newTarjetaForm">
                            <ngb-alert style="display: none;" id="tres" type="danger" (close)="cerrar('tres')">No
                                llenaste correctamente los campos
                            </ngb-alert>
                            <ngb-alert style="display: none;" id="cuatro" type="success" (close)="cerrar('cuatro')">Se
                                registraron los datos correctamente
                            </ngb-alert>
                            <div class="form-row">
                                <div class="col-md-12 mb-12">
                                    <input type="text" class="form-control" formControlName="tarjeta"
                                        placeholder="Numero de la tarjeta" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="validationTooltip02">Nombre del titular de la tarjeta</label>
                                    <input type="text" class="form-control" formControlName="nombre"
                                        placeholder="Nombre" required>
                                </div>
                                <div class="col-md-6 mb-6">
                                    <label for="validationTooltip03"><br></label>
                                    <input type="text" class="form-control" formControlName="apellidos"
                                        placeholder="Apellido" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label for="validationTooltip04">Vencimiento</label>
                                    <select class="custom-select" formControlName="mes" required>
                                        <option value="">MM</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label for="validationTooltip05">*</label>
                                    <select class="custom-select" formControlName="anio" required>
                                        <option value="">AA</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label for="validationTooltip06">CVC</label>
                                    <input type="text" class="form-control" formControlName="cvc"
                                        placeholder="3 digitos" required>
                                </div>
                                <div class="form-group mt-4 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="btn btn-info btn-block" value="Agregar">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 border">
                        <h1 class="resumen">Resumen del pedido</h1>
                        <hr>
                        <div class="row ml-3">
                            <div class="col">
                                <p>Subtotal:</p>
                            </div>
                            <div class="col">
                                <h6 class="text-right mr-3"><strong>${{this.subtotal}}.00</strong></h6>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col">
                                <p>Precio de envío:</p>
                            </div>
                            <div class="col">
                                <h6 class="text-right mr-3"><strong>$150.00</strong></h6>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col">
                                <p>Garantía de envío:</p>
                            </div>
                            <div class="col">
                                <h6 class="text-right mr-3"><strong>$20.00</strong></h6>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col">
                                <p>Total:</p>
                            </div>
                            <div class="col">
                                <h4 class="text-right mr-3"><strong>${{this.total}}.00</strong></h4>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg btn-block mt-3" (click)="altaVenta()">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>