<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <p class="h2 top">Formas de Pago</p>
            <p class="h5 mt-5">
                <strong>
                    Para su comodidad aceptamos las siguientes formas de pago:
                </strong> 
            </p>
            <p class="h6 mt-4 text-justify">
                1. Tarjetas de Débito y Crédito (Visa, MasterCard, American Express)
                <br>
                2. PayPal
                <br>
                3. Transferencia o Depósito bancario
                <br>
                4. Pago en efectivo en OXXO (comisión de $10 por transacción) 
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
            <i class="fab fa-cc-mastercard fa-4x social-icon" style="margin-right: 2rem;"></i>
            <i class="fab fa-cc-visa fa-4x social-icon" style="margin-right: 2rem;"></i>
            <i class="fab fa-cc-paypal fa-4x social-icon" style="margin-right: 2rem;"></i>
            <i class="fab fa-cc-amex fa-4x social-icon" style="margin-right: 2rem;"></i>
        </div>
    </div>
</div>
