<div class="container filtrar">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="card form__top2 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card-body">
            <h2 class="text-center top" style="color: #47D82A">
                Tu pedido ha sido recibido con éxito
                ¡Gracias por tu compra!
            </h2>
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <hr>
                <p class="h6 mt-5">
                    Te informaremos por correo electrónico cuando el pedido salga de 
                    nuestras instalaciones, recuerda que puedes ver el estado del envío, así
                    como consultar otros datos de tus pedidos.
                </p>
            </div>
            </div>
            <div class="row mt-4">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-outline-secondary btn-block" [routerLink]="['perfil-usuario']">
                        Ver mis pedidos
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
            </div>
        </div>
    </div>
</div>
        

