<div class="container filtrar">
    <div class="body">
        <header class="clearfix header">
            <div class="container">
                <figure>
                    <img class="logo" src="../../assets/diamante.png" alt="">
                </figure>
                <div class="company-info">
                    <h2 class="title estilo">Mis Joyitas</h2>
                    <span class="estilo">Leopoldo Mendez 123, Santa Anita, Ags, MX</span>
                    <span class="line estilo"></span>
                    <a class="phone estilo">(449) 9939364</a>
                    <span class="line estilo"></span>
                    <a class="email estilo">misjoyitas@example.com</a>
                </div>
            </div>
        </header>

        <section>
            <div class="details clearfix">
                <!-- Titilo para reportes, BORRAS LOS OTROS TITULOS-->
                <!--<div class="data2">
                    <div class="title">Reporte de compras a proveedores</div>
                  </div>
                </div>-->

                <div class="client left">
                    <p class="estilo">Factura a:</p>
                    <p class="name estilo">Nombre</p>
                    <p class="estilo">
                        796 Silver Harbour,<br>
                        TX 79273, US
                    </p>
                    <a class="estilo">john@example.com</a>
                </div>
                <div class="data right">
                    <div class="title">Invoice 3-2-1</div>
                    <div class="date">
                        Date of Invoice: 01/06/2014<br>
                        Due Date: 30/06/2014
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="table-wrapper">
                    <table>
                        <tbody class="head">
                            <tr>
                                <th class="no"></th>
                                <th class="desc">
                                    <div>Description</div>
                                </th>
                                <th class="qty">
                                    <div>Quantity</div>
                                </th>
                                <th class="unit">
                                    <div>Unit price</div>
                                </th>
                                <th class="total">
                                    <div>Total</div>
                                </th>
                            </tr>
                        </tbody>
                        <tbody class="body">
                            <tr>
                                <td class="no">01</td>
                                <td class="desc">Creating a recognizable design solution based on the company's existing
                                    visual identity</td>
                                <td class="qty">30</td>
                                <td class="unit">$40.00</td>
                                <td class="total">$1,200.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-break">
                    <table class="grand-total">
                        <tbody>
                            <tr>
                                <td class="no"></td>
                                <td class="desc"></td>
                                <td class="qty"></td>
                                <td class="unit">SUBTOTAL:</td>
                                <td class="total">$5,200.00</td>
                            </tr>
                            <tr>
                                <td class="no"></td>
                                <td class="desc"></td>
                                <td class="qty"></td>
                                <td class="unit">ENVÍO:</td>
                                <td class="total">$1,300.00</td>
                            </tr>
                            <tr>
                                <td class="grand-total" colspan="5">
                                    <div><span>TOTAL:</span>$6,500.00</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="thanks">¡Gracias por tu compra!</div>
                <div class="end">
                    La factura fue creada en una computadora y es válida sin la firma y el sello.</div>
            </div>
        </footer>
    </div>
</div>